/* això és un comentari en css */
/* a tots els elements de tipus link (a) se'ls aplicarà el que hi ha dins el parèntesis en aquest cas es posaran en color cyan */
a {
    color: black;
    }
    /* com referenciar a un identificador */
    #tit {
        color: rgb(255, 0, 102);
    }
/* podem fer que els elements li tinguin un determinat color, marge exterior i interior (margin i padding)*/
    article.cotxe {
       /* background-color: tomato;*/
       /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+45,ff5c5c+100;Red+3D+%231 */
        background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        color: white;
        border: 2px solid black;
        margin: 10px;
        padding: 10px;
        display: inline-block;
        width: 30%;
        height: 200px;
        opacity: 0.8;		
        border-radius: 20px;
        box-shadow: 3px 3px 10px rgb(109, 58, 58);

    }

    article.cotxe img {
        width: 150px;
        height: 90px;
        object-fit: cover;
    }

    #menu-principal{
        background-color: rgb(194, 192, 255);
        color: blue;
        border: 2px solid rgb(37, 169, 240);
        margin: 20px;
        padding: 20px;
    }
        
    ul, li {
        padding: 0,0;
        margin: 2px ,2px;
        display: inline-block;
        }
    nav {
        text-align: center;
    }
    
    header {
        text-align: center;
    }

    footer {
        background-color: rgb(7, 218, 218);
        padding: 10px, 10px;
        margin: 0;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+45,ff5c5c+100;Red+3D+%231 */
        background: linear-gradient(to bottom,  #febbbb 0%,#fe9090 45%,#ff5c5c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    }
    
    video {
        width: 50%;
        border-radius: 20px;
        box-shadow: 3px 3px 10px rgb(109, 58, 58);
    }

    body{
        background-color: gainsboro;
    }